/*Responsive Navbar*/
.navbar-principale button {
  display: none;
}

.navbar-principale {
  gap: 10px;
}

.menu-hamburgher {
  display: flex;
}

.menu-hamburgher div {
  display: flex;
}

/*Responsive Header*/
header > img {
  content: url(immagini/banner\ 1023.jpg);
}

.testo-ad-immagine {
  width: 100%;
  top: 10%;
  transform: scale(0.5);
}

.container-2 {
  position: absolute;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 50%;
}

#titolo-banner {
  font-size: 60px;
}

#testo-banner {
  font-size: 40px;
}

.bottoneban {
  padding: 30px 60px;
  font-size: 26px;
}

/*fine media query header*/

:root {
  --content-general-width: 85vw;
  --regular-font-size: 16px;
}

/* Inizio sezione Giochi in Evidenza e Ultime Notizie */
h2 {
  font-size: 30px;
}

.container,
.grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.container {
  margin-bottom: -15px;
}

.details {
  padding: 12px 24px;
  margin: 40px;
}

.image-container div img,
.contenitore-ombra {
  width: 30%;
  max-height: 19.5%;
}

button.details:hover {
  padding: 14px 28px;
  margin: 38px;
}

/* Fine sezione Giochi in Evidenza e Ultime Notizie */

/*INIZIO Sezione per l'iscrizione*/

/*maschere gradienti banner subscribe*/
.gradiente-banner-standard,
.gradiente-banner-1455px,
.gradiente-banner-768px,
.gradiente-banner-640px {
  position: absolute;
  z-index: 1;
  place-self: center;
  display: none;
}

.gradiente-banner-1024px {
  position: absolute;
  z-index: 1;
  place-self: center;
  display: block;
}

/* banner subscribe*/
.banner-subscribe-standard,
.banner-subscribe-1455px,
.banner-subscribe-768px,
.banner-subscribe-640px {
  display: none;
}

.banner-subscribe-1024px {
  display: block;
}

.testo-immagine-sub {
  width: 400px;
}

/* .lunghezza-conditions-stripe {
  width: 80%;
} */

/*striscia azzurra*/
.parental-control-stripe {
  height: 163.781px;
  flex-direction: column;
}

.larghezza-parental-control {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.parental-control-text {
  font-size: 21px;
  width: auto;
  margin: 0;
}

.parental-control-button {
  margin: 2px 4px;
}

/*sezione condizioni*/
.conditions {
  font-size: 14px;
}

/*sezione link*/
.dopo-linea {
  flex-wrap: wrap;
}

.socials {
  gap: 15px;
  align-items: flex-start;
  width: 300px;
  margin-top: 30px;
}

.social-icons img {
  margin-left: 0;
  margin-right: 14px;
}
.join-conversation {
  font-size: 13px;
}

/*FINE Sezione per l'iscrizione*/
