/* Lista di Font aggiuntivi */
@font-face {
  font-family: space-grotesk;
  src: url(fonts/Space-Grotesk.ttf);
}

@font-face {
  font-family: electronic-arts;
  src: url(fonts/electronic-arts.ttf);
}

@font-face {
  font-family: electronic-arts-bold;
  src: url(fonts/electronic-arts-bold.ttf);
}

:root {
  --bg-color: rgb(243, 243, 243);
  --bg-color-cards: white;
  --content-general-width: 1120px;
  --font-ea: electronic-arts;
  --font-ea-bold: electronic-arts-bold;
  --color-red: rgb(255, 70, 71);
  --color-black: rgb(22, 22, 22);
  --color-grey: rgb(222, 222, 222);
  --regular-font-size: 18px;
  --ea-light-color: #f3f3f3;
}

* {
  margin: 0;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Aside */
aside {
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  background-color: var(--color-black);
  z-index: 4;
  align-items: center;
  gap: 50px;
}

.logo-ea {
  margin-right: 50px;
}

.profilo,
.aiuto,
.logo-ea {
  position: relative;
  background-color: transparent;
  border: 0;
  height: 20px;
}

button.profilo:hover img.img-principale-aside,
button.aiuto:hover img.img-principale-aside,
a.logo-ea:hover img.img-principale-aside {
  display: none;
}

.img-principale-aside {
  z-index: 5;
}

body button {
  cursor: pointer;
}

aside img {
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

nav {
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 4;
}

/* Navbar */

.navbar-principale {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  left: 0;
  background-color: white;
  width: 100%;
  height: 55px;
  gap: 40px;
  padding-left: 20px;
}

.hellip {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 10px;
  margin: 10px;
  transition: margin 0.2s linear, padding 0.2s linear;
}
.img1 {
  display: none;
}
@media (min-width: 800px) {
  .img1 {
    display: block;
  }
}

.hellip div {
  background-color: var(--color-black);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  transition: background-color 0.2s linear, height 0.2s linear,
    width 0.2s linear;
}

.hellip:hover {
  padding: 9px 9.5px;
}

.hellip:hover div {
  background-color: var(--color-red);
  height: 6px;
  width: 6px;
}

nav a {
  margin-left: 10px;
  margin-right: 30px;
}

.navbar-principale button {
  font-family: var(--font-ea);
  color: var(--color-black);
  font-size: 18px;
  border: 0;
  background-color: transparent;
  margin: 0 1px;
  position: relative;
}

.freccia-nera {
  /* font-size: 23px;
  transform: translateY(-12%); */
  position: absolute;
  top: 11px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid var(--color-black);
  margin-left: 4px;
  transition: transform 0.3s linear, border-top-color 0.3s linear;
}

.freccia-sfondo {
  top: 11px;
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--bg-color);
  z-index: 1;
  position: absolute;
  margin-left: 6px;
  transition: transform 0.3s linear;
}

.navbar-principale button:hover {
  color: var(--color-red);
}

.navbar-principale button:hover span.freccia-nera {
  border-top-color: var(--color-red);
  transform: scaleY(-1);
}

.navbar-principale button:hover span.freccia-sfondo {
  transform: translateY(2px) scaleY(-1);
}

/* .hellip {
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 60px;
}

.hellip div {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
} */
/* Banner */
header {
  position: relative;
  width: 100vw;
  align-items: center;
  margin-top: 45px;
}
header > img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 0px 50px;
}

.testo-ad-immagine {
  position: absolute;
  top: 30%;
  left: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.testo-immagine {
  font-family: var(--font-ea);
  font-size: var(--regular-font-size);
  color: white;
  text-align: center;
}

.bottoneban {
  margin: 10px;
  padding: 15px 30px;
  border-radius: 4px;
  font-size: var(--regular-font-size);
  border: 2px solid white;
  transition: padding 0.05s linear, margin 0.05s linear;
}

.bottonerosso {
  color: white;
  background-color: var(--color-red);
  border: 2px solid var(--color-red);
}

.bottoniheader {
  display: flex;
}


header a {
  text-decoration: none;
  color: inherit;
}

div.bottoniheader button:hover {
  padding: 17px 34px ;
  margin: 8px 6px;
}

/* style giochi in evidenza */

main {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width:var(--content-general-width);
  align-items: center;
  position: relative;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto, 1fr);
  width: var(--content-general-width);
  gap: 28px;
  margin-bottom: -20px; 
    /* utilizzo un margine negativo per avvicinare il bottone
    "Ultimi Giochi" senza andare a deficere la sua reazione 
    all'hover */
}

.image-container {
  position: relative;
  display: flex;
  aspect-ratio: 1 / 1; 
  /* width: 375px;
  height: 375px;  
  overflow: hidden; */
}

.bg-image {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  z-index: -1;
}

.image-container div img {
  width: 50%;
  height: auto;
  max-height: 20%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease-out;
  z-index: 3;
}

main a:hover div img {
  top: 33%;
}

main a:hover div.contenitore-ombra {
  top: 33%;
}

main a:hover span.link-text {
  color: white;
}

.link-text {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  transition: color 0.1s linear;
  text-decoration: none;
  color: transparent;
  font-family: var(--font-ea);
  z-index: 3;
}

.contenitore-ombra {
  width: 50%;
  height: 20%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2)
  );
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15),
    0px -10px 40px rgba(0, 0, 0, 0.15), 10px 0px 40px rgba(0, 0, 0, 0.15),
    -10px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  transition: top 0.3s ease-out;
  z-index: 2;
}

.opacità {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.gradiente {
  background: linear-gradient(to right, rgb(11, 11, 68), var(--color-red));
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s ease-out;
}

.opacità, .gradiente {
  width: 100%;
  height: 100%;
  position: absolute;
}

main a:hover div.gradiente {
  opacity: 0.8;
}

/* Stile carte Novità */

.news {
  width: var(--content-general-width);
  font-family: var(--font-ea-bold);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  align-items: stretch;
}

.grid {
  margin: 10px 5px;
  margin-top: 65px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6%;
  

}

.news-card {
  background-color: var(--bg-color-cards);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.4;
  text-align: left;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s linear, box-shadow 0.3s linear,
    z-index 0.3s ease-in;
}

.news-info {
  font-size: 14px;
}

.red {
  color: var(--color-red);
}

.black {
  color: var(--color-black);
}

.details {
  margin: 50px;
  padding: 15px 30px;
  border-radius: 4px;
  font-size: var(--regular-font-size);
  border: 2px solid var(--color-black);
  transition: padding 0.05s linear, margin 0.05s linear;
}

.x-line {
  border-bottom: 2px solid var(--color-grey);
  width: 100vw;
  position: absolute;
  left: 0;
}

.y-line {
  border-right: 2px solid var(--color-grey);
  height: 25px;
}


.news-card h3 sup {
  font-size: 0.635rem;
}

.news-card p sup {
  font-size: 0.45rem;
  vertical-align:top;
}

/* 
Nasconde gli elementi extra.
Da linkare a .news-card
*/
.hidden-news {
  display: none;
}


/* 
classe per sistemare margine in EA SPORTS FC 
da linkare a .grid
*/
.margin-news {
  margin-bottom: 105px;
}

h2 {
  font-size: 40px;
  margin: 40px;
  font-family: var(--font-ea-bold);
}

article.news button {
  background-color: var(--bg-color);
}

section.news-card img {
  max-width: 100%;
}

section.news-card a {
  text-decoration: none;
  color: var(--color-black);
}

section.news-card a > div {
  padding: 24px;
  box-sizing: border-box;
  width: 100%;
}

section.news-card a div div {
  display: flex;
  gap: 15px;
}

section.news-card h3 {
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: 23px;
}

section.news-card > a > div > p {
  font-size: var(--regular-font-size);
  font-family: var(--font-ea);
}

article.news section:hover {
  transform: translateY(-10px);
  box-shadow: 2px 40px 30px -2px rgba(0, 0, 0, 0.5);
  z-index: 0;
}

article.news section:not(:hover) {
  z-index: 1;
}

div.menu button {
  border: 0;
  padding: 15px;
  font-size: var(--regular-font-size);
  font-family: var(--font-ea);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.menu button:not(:last-child):before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0%;
  width: 0;
  height: 25px;
  border-right: 2px solid var(--color-grey);
  transform: translatey(-50%);
  z-index: 1;
}

div.menu button:after {
  content: "";
  top: 100%;
  width: 0;
  height: 0;
  border-bottom: 2px solid var(--color-red);
  z-index: 1;
}

div.menu button:hover {
  background-color: rgba(222, 222, 222, 0.6);
}

div.menu button:focus {
  background-color: rgba(222, 222, 222, 0.6);
  outline: none;
}

div.menu button:focus:after {
  content: "";
  position: absolute;
  top: 100%;
  width: 80%;
  height: 0;
  border-bottom: 2px solid var(--color-red);
  transition: width 0.1s linear;
}

div.menu button:focus:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0%;
  width: 0;
  height: 25px;
  border-right: 2px solid var(--color-grey);
  transform: translatey(-50%);
  z-index: 1;
}

button.details a {
  text-decoration: none;
  color: var(--color-black);
}

button.details:hover {
  padding: 17px 34px;
  margin: 48px 0;
}

.section-hover-effect {
  transform: translateY(-10px);
  box-shadow: 2px 40px 30px -2px rgba(0, 0, 0, 0.5);
  z-index: 0;
}

/*INIZIO Sezione per l'iscrizione*/

.prefooter {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  align-items: center;
}

.container-immagine-prefooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.container-immagine-prefooter > img {
  width: 100%;
  height: auto;
}

.gradiente-banner {
  position: absolute;
  z-index: 1;
  place-self: center;
}

.logo-ad-immagine {
  position: absolute;
  /* top: 15%;
  left: 23%; */
  text-align: center;
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  align-items: flex-start;
  width: var(--content-general-width);
  gap: 20px;
  z-index: 2;
}

.testo-immagine-sub {
  font-family: var(--font-ea);
  font-size: var(--regular-font-size);
  color: white;
  text-align: left;
  width: 500px;
}

.bottone-subscribe {
  background-color: transparent;
  margin: 2px 4px;
  padding: 15px 30px;
  border-radius: 4px;
  font-size: var(--regular-font-size);
  border: 2px solid white;
  transition: padding 0.05s linear, margin 0.05s linear;
}

.bottone-subscribe:hover {
  padding: 17px 34px;
  margin: 0;
}

.bottone-subscribe a {
  text-decoration: none;
  color: white;
}

.parental-control-stripe {
  position: relative;
  background-color: #6fb0d6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.larghezza-parental-control {
  width: var(--content-general-width);
  display: flex;
  justify-content: space-between;
}

/* .parental-field-1 {
  margin-left: 23%;
} */

.parental-field-2 {
  /* position: absolute;
  left: 66%;
  transform: translateX(50%); */
  display: flex;
}

.parental-control-text {
  font-family: var(--font-ea);
  font-size: 26px;
  color: #161616;
  width: 500px;
  margin-left: 0;
}

.parental-control-button {
  padding: 15px 30px;
  border-radius: 4px;
  font-size: var(--regular-font-size);
  border: 2px solid var(--color-black);
  transition: padding 0.05s linear, margin 0.05s linear;
  background-color: transparent;
  margin: 1px 4px;
  align-self: center;
}

button.parental-control-button:hover {
  padding: 17px 34px;
  margin: 0;
}

button.parental-control-button a {
  text-decoration: none;
  color: var(--color-black);
}

.conditions-stripe {
  background-color: #eaeaea;
  padding: 40px 20%;
  padding-bottom: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.conditions {
  color: #161616;
  margin-bottom: 10px;
  font-family: var(--font-ea);
  /* margin-left: 5%; */
}

.lunghezza-conditions-stripe {
  width: var(--content-general-width);
}

.link-conditions {
  color: red;
  text-decoration: none;
}

.footer-line {
  border-bottom: 1px solid var(--color-black);
  width: auto;
  /* margin-left: 5%; */
}

.link-list {
  margin-top: 50px;
  display: flex;
  gap: 10%;
  /* margin-left: 5%; */
}

.link-list a {
  color: black;
  text-decoration: none;
  font-size: medium;
  font-family: var(--font-ea);
}

.link-list a:hover {
  color: black;
}

.join-conversation {
  font-weight: 700;
  margin-left: auto;
  font-family: var(--font-ea);
}

.socials {
  margin-top: 20px;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: end;
  margin-bottom: 75px;
}

.socials img {
  width: 30px;
  transition: transform 0.3s;
}

.socials img:hover {
  transform: scale(1.2);
}

/*FINE Sezione per l'iscrizione*/
footer > div{
  font-family: var(--font-ea);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: var(--content-general-width);
  position: relative;
}

footer{
  
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 20px ;
  padding-bottom:60px ;
}



 .EA{
   width: 64px;
   height: auto;
   
}




.tf{
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.second a {
  font-size: 16px;
  color: black;
  text-decoration: none;
}


.first div a{
  font-size: 18px;
  line-height: 112%;
  margin: 16px 52px 16px 0
}

.lingua{
  width: 190px;
  height: 51px;
  border: 2px solid gray;
  font-size: 16px;
  color: gray;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  border-radius: 5px;
}

.prezzo{
 
  margin-left: 10px;
  margin-top: 5px;
  margin-left: 10px
}

.prezzo1{
  color: black;
  margin-left: 10px ;
}

.prezzo2{
  color: black;
  margin-left: 30px ;
}

.arrow{border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 170px;
  margin-top: 30px;
  position: absolute;
}

.flag{
  height: 11px;
  width: 16px;
  position: absolute;
  margin-top: 32px;
  margin-left: 10px ;
}



.text1{
  margin-left: 90px;
  margin-top: 20px;
 
}

.first .EA{
  margin-bottom: -25px;
  margin-right: -30px;
}

.second{
  margin-top: 15px;
  margin-left: 90px;
  
}

.second div a{
  
  margin: 16px 52px 16px 0
}

.lingua span{
  padding-left: 10px;
  padding-top: -30px ;
}


.boxb{
  display: flex;
  right:  0;
  
  position: absolute;
  
}

.immagine-trust{
  position: absolute;
  right: 0;
  bottom: 0;
}

.rights{
  padding-top: 10px;

}


