@media (max-width: 375px) {
  .logo-ea-navbar {
    height: 10px;
  }
}

button:not(nav button) {
  box-sizing: border-box;
  width: var(--content-general-width);
}

button:hover:not(nav button) {
  width: calc(var(--content-general-width) + 8px);
}
