/*Responsive Navbar*/
.navbar-principale button {
  display: none;
}

.navbar-principale {
  gap: 10px;
}

.menu-hamburgher {
  display: flex;
}

.menu-hamburgher div {
  display: flex;
}

/*Responsive Header*/
header > img {
  content: url(immagini/banner\ 1023.jpg);
}

.testo-ad-immagine {
  width: 100%;
  top: 10%;
  transform: scale(0.5);
}

.container-2 {
  position: absolute;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 50%;
}

#titolo-banner {
  font-size: 60px;
}

#testo-banner {
  font-size: 40px;
}

.bottoneban {
  padding: 30px 60px;
  font-size: 26px;
}

/*fine media query header*/

:root {
  --content-general-width: 85vw;
  --regular-font-size: 16px;
}

/* Inizio sezione Giochi in Evidenza e Ultime Notizie */
h2 {
  font-size: 30px;
}

.container,
.grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.container {
  margin-bottom: -15px;
}

.details {
  padding: 12px 24px;
  margin: 40px;
}

.image-container div img,
.contenitore-ombra {
  width: 30%;
  max-height: 19.5%;
}

button.details:hover {
  padding: 14px 28px;
  margin: 38px;
}

/* Fine sezione Giochi in Evidenza e Ultime Notizie */
