/*Responsive Navbar*/

nav a {
  margin: 0;
}

.logo-ea-navbar {
  height: 13px;
}

.navbar-principale {
  gap: 15px;
}

/*Responsive Header*/
header > img {
  content: url(immagini/Banner\ 767.jpg);
}

header {
  overflow: hidden;
  height: 900px;
}

.testo-ad-immagine {
  width: 100;
  transform: scale(1.1);
}

.container-2 {
  position: absolute;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 17%;
}

#titolo-banner {
  font-size: 35px;
}

#testo-banner {
  font-size: 25px;
}

.bottoneban {
  padding: 12px 20px;
  font-size: 16px;
}

/*fine media query header*/

/* Inizio sezione Giochi in Evidenza e Ultime Notizie */
.container,
.grid {
  grid-template-columns: 1fr;
  justify-items: center;
}

.image-container,
.news-card {
  width: 100%;
  max-width: var(--content-general-width);
}

.news-card img,
.articolo-della-news {
  display: none;
}

.news-card {
  line-height: 1.1;
  align-items: center;
}

.news-info {
  font-size: 13px;
}

section.news-card a > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}

section.news-card h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
}

section a div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container div img {
  width: 50%;
  max-height: 20%;
}

/* .details {
  margin: 40px;
} */

/* Fine sezione Giochi in Evidenza e Ultime Notizie */

/*INIZIO Sezione per l'iscrizione*/

.gradiente-banner-standard,
.gradiente-banner-1455px,
.gradiente-banner-1024px,
.gradiente-banner-640px {
  position: relative;
  z-index: 1;
  place-self: center;
  display: none;
}

.gradiente-banner-768px {
  position: absolute;
  z-index: 1;
  place-self: center;
  display: block;
  top: 0;
}

/* banner subscribe*/
.banner-subscribe-standard,
.banner-subscribe-1455px,
.banner-subscribe-1024px,
.banner-subscribe-640px {
  display: none;
}

.banner-subscribe-768px {
  display: block;
}

.logo-ad-immagine {
  top: 500px;
}

.testo-immagine-sub {
  width: 100%;
}

.parental-control-stripe {
  height: 197px;
}

.larghezza-parental-control {
  margin-top: 10px;
  margin-bottom: 10px;
}

.parental-control-text {
  text-align: center;
  font-size: 24px;
}

/*sezione condizioni*/
.lunghezza-conditions-stripe {
  width: 91%;
}

.dopo-linea {
  flex-direction: column;
}

.link-list {
  margin-top: 23px;
  /*   border-bottom: 1px solid black;
 */
  padding-bottom: 23px;
  width: 50%;
}

.socials {
  border-top: 1px solid black;
  width: 100%;
  margin-top: 0px;
  padding-top: 23px;
  margin-bottom: 80px;
}
/*FINE Sezione per l'iscrizione*/
