/* Lista di Font aggiuntivi */
@font-face {
  font-family: space-grotesk;
  src: url(fonts/Space-Grotesk.ttf);
}

@font-face {
  font-family: electronic-arts;
  src: url(fonts/electronic-arts.ttf);
}

@font-face {
  font-family: electronic-arts-bold;
  src: url(fonts/electronic-arts-bold.ttf);
}

:root {
  --bg-color: rgb(243, 243, 243);
  --bg-color-cards: white;
  --content-general-width: 1120px;
  --font-ea: electronic-arts;
  --font-ea-bold: electronic-arts-bold;
  --color-red: rgb(255, 70, 71);
  --color-black: rgb(22, 22, 22);
  --color-grey: rgb(222, 222, 222);
  --regular-font-size: 18px;
}

* {
  margin: 0;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Aside */
aside {
  align-items: right;
}

.aiuto {
  font-family: var(--font-ea);
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

/* Navbar */

.navbar-principale {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  background-color: var(--bg-color);
  width: 100%;
  height: 55px;
  gap: 40px;
}

.hellip {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 10px;
  margin: 10px;
  transition: margin 0.2s linear, padding 0.2s linear;
}
.img1{
  display: none;
}
@media(min-width:800px) {
  .img1 {
    display: block;
  }
}

.hellip div {
  background-color: var(--color-black);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  transition: background-color 0.2s linear, height 0.2s linear,
    width 0.2s linear;
}

.hellip:hover {
  padding: 9px 9.5px;
}

.hellip:hover div {
  background-color: var(--color-red);
  height: 6px;
  width: 6px;
}

nav a {
  margin-left: 10px;
  margin-right: 30px;
}

.navbar-principale button {
  font-family: var(--font-ea);
  color: var(--color-black);
  font-size: 18px;
  border: 0;
  background-color: transparent;
  margin: 0 1px;
  position: relative;
}

.freccia-nera {
  /* font-size: 23px;
  transform: translateY(-12%); */
  position: absolute;
  top: 11px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid var(--color-black);
  margin-left: 4px;
  transition: transform 0.3s linear, border-top-color 0.3s linear;
}

.freccia-sfondo {
  top: 11px;
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--bg-color);
  z-index: 1;
  position: absolute;
  margin-left: 6px;
  transition: transform 0.3s linear;
}

.navbar-principale button:hover {
  color: var(--color-red);
}

.navbar-principale button:hover span.freccia-nera {
  border-top-color: var(--color-red);
  transform: scaleY(-1);
}

.navbar-principale button:hover span.freccia-sfondo {
  transform: translateY(2px) scaleY(-1);
}

/* .hellip {
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 60px;
}

.hellip div {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
} */
/* Banner */
header {
  position: relative;
  width: 100vw;
  align-items: center;
  margin-top: 55px;
}
header > img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 0px 50px;
}

.testo-ad-immagine {
  position: absolute;
  top: 30%;
  left: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.testo-immagine {
  font-family: var(--font-ea);
  font-size: var(--regular-font-size);
  color: white;
  text-align: center;
}

.bottoneban {
  margin: 10px;
  padding: 15px 30px;
  border-radius: 4px;
  font-size: var(--regular-font-size);
  border: 2px solid white;
  transition: padding 0.05s linear, margin 0.05s linear;
}

.bottonerosso {
  color: white;
  background-color: var(--color-red);
  border: 2px solid var(--color-red);
}

.bottoniheader {
  display: flex;
}

header a {
  text-decoration: none;
  color: inherit;
}

div.bottoniheader button:hover {
  padding: 17px 34px;
  margin: 8px 6px;
}

/* style giochi in evidenza */
main{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width: var(--content-general-width);
  align-items: center;
  position: relative;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 360px);
  gap: 2.5%;
}

.container a {
  overflow: hidden;
}

.image-container {
  position: relative;
  display: flex;
  /* width: 375px;
  height: 375px;  */
}

.bg-image {
  width: 100%;
  height: auto;
  z-index: -1;
}
    
.image-container div img { 
  width: 160px ;
  height: auto ;
  max-height: 65px;
  position: absolute;
  left: 50%;
  top: 50%; 
  transform: translate(-50%,-50%);
  transition: top 0.3s ease-out;
  z-index: 3
}
    
main a:hover div img{
  top: 33%;
}

main a:hover div.contenitore-ombra{
  top: 33%;
}

main a:hover span.link-text{
  color: white;
}
      
.link-text {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  transition: color 0.1s linear;
  text-decoration: none;
  color: transparent;
  font-family: var(--font-ea);
  z-index: 3;
}

.contenitore-ombra {
  width: 150px;
  height: 55px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0.4), rgba( 0, 0, 0, 0.35));
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25), 0px -10px 40px rgba(0, 0, 0, 0.25), 10px 0px 40px rgba(0, 0, 0, 0.25), -10px 0px 40px rgba(0, 0, 0, 0.25);
  border-radius: 50%;;
  transition: top 0.3s ease-out;
  z-index: 2;
}

.opacità {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.gradiente{
  background: linear-gradient(to right,rgb(11, 11, 68), var(--color-red));
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 0.3s ease-out;
}

main a:hover div.gradiente {
  opacity: 0.8
}

/* Stile carte Novità */

.news {
  width: var(--content-general-width);
  font-family: var(--font-ea-bold);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  align-items: stretch;
}

.grid {
  margin: 10px 5px;
  margin-top: 65px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6%;
}

@media (min-width:572px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
} 

@media (min-width:992px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
} 

.news-card {
  background-color: var(--bg-color-cards);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.4;
  text-align: left;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s linear, box-shadow 0.3s linear,
  z-index 0.3s ease-in;
}

.news-info {
  font-size: 14px;
}

.red {
  color: var(--color-red);
}

.black {
  color: var(--color-black);
}

.details {
  margin: 50px;
  padding: 15px 30px;
  border-radius: 4px;
  font-size: var(--regular-font-size);
  border: 2px solid var(--color-black);
  transition: padding 0.05s linear, margin 0.05s linear;
}

.x-line {
  border-bottom: 2px solid var(--color-grey);
  width: 100vw;
  position: absolute;
  left: 0;
}

.y-line {
  border-right: 2px solid var(--color-grey);
  height: 25px;
}

h2 {
  font-size: 40px;
  margin: 40px;
  font-family: var(--font-ea-bold);
}

article.news button {
  background-color: var(--bg-color);
}

section.news-card img {
  max-width: 100%;
}

section.news-card a {
  text-decoration: none;
  color: var(--color-black);
}

section.news-card a > div {
  padding: 24px;
  box-sizing: border-box;
  width: 100%;
}

section.news-card a div div {
  display: flex;
  gap: 15px;
}

section.news-card h3 {
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: 22px;
}

section.news-card > a > div > p {
  font-size: var(--regular-font-size);
  font-family: var(--font-ea);
}

article.news section:hover {
  transform: translateY(-10px);
  box-shadow: 2px 40px 30px -2px rgba(0, 0, 0, 0.5);
  z-index: 0;
}

article.news section:not(:hover) {
  z-index: 1;
}

div.menu button {
  border: 0;
  padding: 15px;
  font-size: var(--regular-font-size);
  font-family: var(--font-ea);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.menu button:not(:last-child):before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0%;
  width: 0;
  height: 25px;
  border-right: 2px solid var(--color-grey);
  transform: translatey(-50%);
  z-index: 1;
}

div.menu button:after {
  content: "";
  top: 100%;
  width: 0;
  height: 0;
  border-bottom: 2px solid var(--color-red);
}

div.menu button:hover {
  background-color: rgba(222, 222, 222, 0.6);
}

div.menu button:focus {
  background-color: rgba(222, 222, 222, 0.6);
  outline: none;
}

div.menu button:focus:after {
  content: "";
  position: absolute;
  top: 100%;
  width: 80%;
  height: 0;
  border-bottom: 2px solid var(--color-red);
  transition: width 0.1s linear;
}

div.menu button:focus:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0%;
  width: 0;
  height: 25px;
  border-right: 2px solid var(--color-grey);
  transform: translatey(-50%);
  z-index: 1;
}

button.details a {
  text-decoration: none;
  color: var(--color-black);
}

button.details:hover {
  padding: 17px 34px;
  margin: 48px 0;
}
