/* Lista di Font aggiuntivi */
@font-face {
  font-family: space-grotesk;
  src: url(../fonts/Space-Grotesk.ttf);
}

@font-face {
  font-family: electronic-arts;
  src: url(../fonts/electronic-arts.ttf);
}

@font-face {
  font-family: electronic-arts-bold;
  src: url(../fonts/electronic-arts-bold.ttf);
}

@font-face {
  font-family: apex;
  src: url(../fonts/TT%20Lakes%20Medium.otf);
}

@font-face {
  font-family: apex-bold;
  src: url(../fonts/TT%20Lakes%20Condensed%20Bold.otf);
}

@font-face {
  font-family: apex-compressed;
  src: url(../fonts/TT%20Lakes%20Compressed%20Black.otf);
}

/* CODICI GENERICI DELLA PAGINA */

:root {
  --bg-color: rgb(243, 243, 243);
  --bg-color-cards: white;
  --content-general-width: 1120px;
  --font-ea: electronic-arts;
  --font-ea-bold: electronic-arts-bold;
  --font-apex: apex;
  --font-apex-bold: apex-bold;
  --font-apex-compressed: apex-compressed;
  --color-red: rgb(255, 70, 71);
  --color-black: rgb(22, 22, 22);
  --color-grey: rgb(222, 222, 222);
  --regular-font-size: 18px;
  --ea-light-color: #f3f3f3;
  --color-darker-grey:rgb(199, 199, 199);
  --color-circle-grey: rgb(178, 178, 178);
  --bg-footer: #F3F3F3;
}

* {
  margin: 0;
}

body {
  background-color: var(white);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-ea);
  background-image: url(immagini_sezione_news/notizie_apex/background_apex.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

/* FINE CODICI GENERICI DELLA PAGINA */

/* INIZIO Sticky Navbar*/

aside {
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  background-color: var(--color-black);
  z-index: 4;
  align-items: center;
  gap: 50px;
}

.logo-ea {
  margin-right: 50px;
}

.profilo,
.aiuto,
.logo-ea {
  position: relative;
  background-color: transparent;
  border: 0;
  height: 20px;
}

button.profilo:hover img.img-principale-aside,
button.aiuto:hover img.img-principale-aside,
a.logo-ea:hover img.img-principale-aside {
  display: none;
}

.img-principale-aside {
  z-index: 5;
}

body button {
  cursor: pointer;
}

aside img {
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

nav {
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 4;
  transition: transform 0.2s linear;
  
}

/* FINE Sticky Navbar */

/* INIZIO Navbar Principale */

.navbar-principale {
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  background-color: rgb(3, 3, 3);
  width: 100%;
  height: 55px;
  padding-left: 20px;
  flex-wrap: nowrap;
}

.navbar-sinistra {
  display: flex;
  align-items: center;
  gap: 30px;
}

.bottoni-menu-tendina {
  display: flex;
  gap: 30px;
}

.img1 {
  display: none;
}


nav a {
  margin-left: 10px;
  margin-right: 30px;
}

.logo-apex {
  height: 35px;
}

.navbar-sinistra button {
  font-family: var(--font-ea);
  color: white;
  font-size: 18px;
  border: 0;
  background-color: transparent;
  margin: 0 1px;
  position: relative;
  font-family: var(--font-apex);
}

.freccia-nera {
  /* font-size: 23px;
  transform: translateY(-12%); */
  position: absolute;
  top: 11px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid white;
  margin-left: 4px;
  transition: transform 0.3s linear, border-top-color 0.3s linear;
}

.freccia-sfondo {
  top: 11px;
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  z-index: 1;
  position: absolute;
  margin-left: 6px;
  transition: transform 0.3s linear;
}

.navbar-sinistra button:hover {
  color: var(--color-red);
}

.navbar-principale button:hover span.freccia-nera {
  border-top-color: var(--color-red);
  transform: scaleY(-1);
}

.navbar-principale button:hover span.freccia-sfondo {
  transform: translateY(2px) scaleY(-1);
}

.acquista-subito:hover .freccia-sfondo,
.bottoni-menu-tendina button:hover span.freccia-sfondo {
  transform: translateY(2px) scaleY(-1);
}

.acquista-subito:hover .freccia-nera {
  transform: scaleY(-1);
}

.acquista-subito {
  height: 80%;
  padding-left: 30px;
  padding-right: 40px;
  margin-right: 40px;
  background-color: var(--color-red);
  border: none;
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  font-family: var(--font-apex);
  color: white;
}

.freccia-bottone-verde {
  position: relative;
  display: flex;
}

.freccia-bottone-verde .freccia-nera,
.freccia-bottone-verde .freccia-sfondo {
  position: absolute;
  top: -2px;
}

.freccia-bottone-verde .freccia-nera {
  border-top-color: white;
}

.freccia-bottone-verde .freccia-sfondo {
  border-top-color: var(--color-red);
}

/* FINE NAVBAR PRINCIPALE */

/* INIZIO BANNER */

header {
  position: relative;
  width: 100vw;
  height: 680px;
  overflow: hidden;
  margin-top: 95px;
}

.banner-principale {
  position: absolute;
  width: 100vw;
}

.mini-banner-container {
  position: relative;
  width: 100vw;
  height: 110px;
  overflow: hidden;
}

.mini-banner {
  width: 100vw;
}

.mini-banner-container p,
.mini-banner-container a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.mini-banner-container p {
  left: 15%;
  font-family: var(--font-apex);
  color: white;
  font-size: 1.25rem;
}

.mini-banner-container a {
  right: 20%;
}

.mini-banner-container button {
  font-size: 1.25rem;
  font-family: var(--font-apex);
  padding: 17px 22px;
  border-radius: 5px;
  border: none;
  position: relative;
  background-color: #F3F3F3;
  color: rgb(107, 107, 107);
}

.mini-banner-container button::before {
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F3F3F3;
  border-radius: 5px;
  z-index: -1;
  transition: 0.1s linear;
}

.mini-banner-container button:hover::before {
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
}

.logo-banner-container {
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.logo-banner-container h1 {
  font-size: 3.25rem;
  font-family: var(--font-apex);
  color: white;
}

.logo-banner {
  width: 90px;
}

/* INIZIO Sezione delle notizie */

.striscia-nera {
  display: flex;
  justify-content: center;
  background-color: rgb(28, 28, 28);
  width: 100vw;
}

.contenitore-bottoni-filtro {
  width: var(--content-general-width);
  display: flex;
  justify-content: flex-start;
}

.contenitore-bottoni-filtro button {
  font-family: var(--font-ea);
  color: white;
  font-size: 1rem;
  position: relative;
  border: none;
  background-color: transparent;
  padding: 20px 10px;
}

.striscia-rossa-bottoni {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--color-red);
  transition: width 0.2s linear;
}

.contenitore-bottoni-filtro button:hover {
  background-color: black;
}

.contenitore-bottoni-filtro button:focus {
  background-color: black;
}

.contenitore-bottoni-filtro button:focus .striscia-rossa-bottoni{
  width: 80%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
  width: var(--content-general-width);
  color: var(--color-black);
  margin-top: 65px;
  margin-bottom: 60px;
}

.news-card {
  background-color: rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.4;
  text-align: left;
}

.news-card img {
  width: 100%;
  height: auto;
}

.news-card a {
  text-decoration: none;
  color: rgb(212, 212, 212);
  height: 100%;
}

.news-card a > div {
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
}

.news-card h3 {
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: 23px;
  font-family: var(--font-ea-bold);
}

.articolo-della-news {
  font-size: var(--regular-font-size);
}

.nascosto {
  display: none;
}

.striscia-rossa {
  width: 100%;
  height: 10px;
  background-color: var(--color-red);
  justify-self: flex-end;
}
/* Fine sezione delle notizie */

/* Inizio Bottone Carica Altro */

.carica-altro {
  width: var(--content-general-width);
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: transparent;
  border: 2px solid var(--color-grey);
  gap: 12px;
  transition: margin-top 0.3s ease-out;
}

.cerchio {
  width: 37px;
  height: 37px;
  border: 2px solid var(--color-circle-grey);
  border-radius: 50%;
  position: relative;
  margin: 3px;
  transition: width 0.1s linear, height 0.1s linear, margin 0.1s linear;
}

.posizione-croce {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(116, 116, 116);
}

.croce-x {
  width: 11px;
  height: 1px;
}

.croce-y {
  width: 1px;
  height: 11px;
}

.scritta-cerchio {
  font-size: 22px;
  font-family: var(--font-apex);
  color: var(--color-circle-grey);
}

.carica-altro:hover {
  border-color: rgb(145, 145, 145);
  gap: 12px
}

.carica-altro:hover .scritta-cerchio {
  color: var(--color-black);
}

.carica-altro:hover .posizione-croce {
  background-color: var(--color-black);
}

.carica-altro:hover .cerchio {
  border-color: var(--color-black);
  height: 43px;
  width: 43px;
  margin: 0;
}

.carica-altro:hover .croce-x {
  width: 14px;
  height: 2px;
}

.carica-altro:hover .croce-y {
  width: 2px;
  height: 14px;
}

/* Fine Bottone Carica Altro */

/* Inizio Prefooter */

.contenitore-iscrizione {
  background-color: rgba(41, 41, 41, 0.606);
  width: 100vw;
  display: flex;
  justify-content: center;
}

.iscrizione {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(218, 217, 217);
  padding-top: 75px;
  padding-bottom: 10px;
  width: var(--content-general-width);
  gap: 20px;
}

.iscrizione h2 {
  color: rgb(237, 237, 237);
  font-family: var(--font-apex);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.console {
  font-size: 1.15rem;
}

.iscrizione button {
  border: none;
  background-color: transparent;
  font-size: 1.15rem;
  font-family: var(--font-apex);
  position: relative;
  padding: 15px 30px;
}

.iscrizione button::before {
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid rgb(216, 216, 216);
  transition: 0.1s linear;
}

.iscrizione button:hover::before {
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
}

.iscrizione button a {
  color: rgb(215, 215, 215);
  text-decoration: none;
}

.condizioni {
  text-align: center;
  margin-top: 60px;
}

.contenitore-prefooter-link {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: rgb(37, 37, 37);
  padding: 60px 0 90px 0;
  font-size: 1.10rem;
}

.prefooter-link {
  display: flex;
  flex-direction: column;
  width: var(--content-general-width);
  font-family: var(--font-ea);
  gap: 30px;
}

.prefooter-link,
.prefooter-link a {
  color: rgb(144, 144, 144);
  text-decoration: none;
}

.collegamenti-apex {
  display: flex;
  justify-content: space-between;
}

.link-apex {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  font-size: 1rem;
}

.link-apex a:hover {
  color: var(--color-red);
}

.collegamenti-seconda-colonna {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.collegamenti-seconda-colonna p {
  color: var(--ea-light-color);
  font-family:var(--font-apex-bold);
  text-wrap: nowrap;
}

.link-social {
  display: flex;
  gap: 15px;
  align-items: center;
}

.link-social a {
  height: 30px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-social a img {
  height: 25px;
  transition: height 0.1s linear;
}

.link-social a:hover img{
  height: 30px;
}

.linea-bianca {
  width: 100%;
  height: 1px;
  background-color: rgb(144, 144, 144);
  margin-top: 25px;
}

.contenitore-link-per-immagini {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loghi-apex {
  display: flex;
  gap: 30px;
  align-items: center;
}

.global-series {
  height: 60px;
}

.pegi {
  height: 85px;
}

.contenitore-pegi {
  display: flex;
  gap: 10px;
}

.acquisti-in-game {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  font-size: 0.7rem;
}

.avvertenze {
  display: flex;
  gap: 5px;
}

.violenza,
.img-carta-di-credito {
  height: 57px;
}

.linea-corta {
  height: 2px;
  background-color: var(--ea-light-color);
  width: 100%;
}

.clausole {
  width: 65%;
  font-size: 1rem;
  margin-top: 30px;
}

/* FINE Prefooter */

/* Inizio Sezione Footer */

footer {
  width: 100%;
  background-color: var(--bg-footer);
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.contenuto-del-footer{
  font-family: var(--font-ea);
  display: flex;
  gap: 30px;
  width: var(--content-general-width);
  position: relative;
  margin-top: 20px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.first {
  display: flex;
  justify-content: space-between;
}

.links-footer-alti {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
}

.links-footer-bassi {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.boxb{
  display: flex;
  gap: 40px;
  z-index: 3;
}

.black-text{
  color: var(--color-black);
}


.arrow {
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 8px solid var(--color-black);
  border-radius: 10px;
  right: 20px;
  bottom: 14px;
}

.arrow-sfondo {
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid var(--bg-footer);
  right: 20px;
  bottom: 17px;
}

.bottone-con-bandiera {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
}

.flag{
  height: 11px;
  width: 16px;
  
}

.lingua{
  width: 185px;
  height: 65px;
  border: none;
  font-size: 15px;
  background-color: var(--bg-footer);
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

.dettagli-bottone-lingua {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  z-index: 3;
  
}

.sfondo-bottone {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--bg-footer);
  z-index: 2;
  transition: top, right, bottom, left 0.08s linear;
}

.lingua:hover .sfondo-bottone{
  top: -2px;
  right: -4px;
  bottom: -2px;
  left: -4px;
}

.lingua:focus .sfondo-bottone {
  top: -2px;
  right: -4px;
  bottom: -2px;
  left: -4px;
}

.dettagli-bottone-lingua::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 3px;
  transition: top, right, bottom, left 0.08s linear;
  z-index: 4;
}

.dettagli-bottone-lingua:hover::before {
  top: -2px;
  right: -4px;
  bottom: -2px;
  left: -4px;
}

.ea {
  width: 64px;
  height: auto;
}

.tf {
  color: var(--color-black);
  text-decoration: none;
  font-family: var(--font-apex);
}

.tr {
  color: var(--color-black);
  text-decoration: none;
}

.second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.links-footer-alti a {
  font-size: 1.125rem;
  margin: 16px 52px 16px 0;
}

.links-footer-bassi div {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 60%;
}

.links-footer-bassi a {
  font-size: 1rem;
  margin-right: 15px;
}

.lingua:focus .arrow {
  transform: scaleY(-1);
}

.lingua:focus .arrow-sfondo {
    transform: translateY(7px) scaleY(-1);
}

.lingua:focus .dettagli-bottone-lingua:before {
  top: -2px;
  right: -4px;
  bottom: -2px;
  left: -4px;
  border-top: none;
  box-shadow: 10px 10px 15px rgba(159, 159, 159, 0.3), -10px 10px 15px rgba(159, 159, 159, 0.3);
}

/* FINE Sezione Footer */

/* INIZIO Bottoni Footer a scomparsa */

.grid-footer-container {
  border: 2px solid rgb(204, 204, 204);
  display: none;
  position: absolute;
  flex-direction: column;
  top: 0;
  right: -25px;
  transform: translateY(-100%);
  background-color: var(--bg-footer);
  z-index: 1;
  position: absolute;
}

.grid-footer-container:before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 21px;
  width: 189px;
  height: 2px;
  background-color: var(--bg-footer);
}

.grid-footer {
  background-color: var(--bg-footer);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  grid-auto-flow: column;
  padding: 15px;
  z-index: 1;
  position: relative;
  box-shadow: 10px 10px 15px rgba(159, 159, 159, 0.3), -10px 10px 15px rgba(159, 159, 159, 0.3);
}

.grid-footer a {
  box-sizing:border-box;
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-align: start;
  text-wrap: nowrap;
  padding: 19px 45px 19px 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.grid-footer a:hover {
  padding: 19px 35px 19px 30px;
}

.grid-footer a:not(:nth-child(9n)):not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 7px;
  height: 2px;
  width: 82%;
  background-color: rgb(234, 234, 234);
}

.tic {
  background-image: url(../immagini/tick.png);
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 30px;
  position: absolute;
  right: 23px;
  top: 25%;
}

.mostra {
  display: flex;
}

.freccia-scrollbar-griglia {
  color: white;
  display: none;
}

/* FINE Bottoni Footer a scomparsa */



