@font-face {
  font-family: space-grotesk;
  src: url(../fonts/Space-Grotesk.ttf);
}

@font-face {
  font-family: electronic-arts;
  src: url(../fonts/electronic-arts.ttf);
}

@font-face {
  font-family: electronic-arts-bold;
  src: url(../fonts/electronic-arts-bold.ttf);
}

:root {
  --bg-color: rgb(22, 22, 22);
  --bg-color-cards: white;
  --content-general-width: 1120px;
  --font-ea: electronic-arts;
  --font-ea-bold: electronic-arts-bold;
  --color-red: rgb(255, 70, 71);
  --color-black: rgb(22, 22, 22);
  --color-grey: rgb(222, 222, 222);
  --color-green: rgb(91, 244, 104);
  --font-color: rgb(159, 157, 157);
  --font-color-lighter: rgb(239, 239, 239);
  --regular-font-size: 18px;
  --ea-light-color: #f3f3f3;
  --bg-footer: rgb(243, 243, 243);
}

* {
  margin: 0;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Aside */
aside {
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  background-color: var(--color-black);
  z-index: 4;
  align-items: center;
  gap: 50px;
  transition: transform 0.2s linear;
}

.logo-ea {
  margin-right: 50px;
}

.logo-ea-navbar {
  height: 35px;
}

.profilo,
.aiuto,
.logo-ea {
  position: relative;
  background-color: transparent;
  border: 0;
  height: 20px;
}

button.profilo:hover img.img-principale-aside,
button.aiuto:hover img.img-principale-aside,
a.logo-ea:hover img.img-principale-aside {
  display: none;
}

.img-principale-aside {
  z-index: 5;
}

body button {
  cursor: pointer;
}

aside img {
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

nav {
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 4;
  transition: transform 0.2s linear;
}

/* Navbar */

.navbar-principale {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  left: 0;
  background-color: black;
  width: 100%;
  height: 55px;
  gap: 10px;
  padding-left: 20px;
  position: relative;
}


.img1 {
  display: none;
}

nav a {
  margin-left: 10px;
  margin-right: 30px;
}

.bottoni-menu-tendina {
  display: flex;
  gap: 40px;
}

.bottoni-menu-tendina button {
  font-family: var(--font-ea);
  color: var(--font-color);
  font-size: 17px;
  border: 0;
  background-color: transparent;
  margin: 0 1px;
  position: relative;
}

.freccia-nera {
  /* font-size: 23px;
  transform: translateY(-12%); */
  position: absolute;
  top: 11px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid var(--font-color);
  margin-left: 4px;
  transition: transform 0.3s linear, border-top-color 0.3s linear;
}

.freccia-sfondo {
  top: 11px;
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  z-index: 1;
  position: absolute;
  margin-left: 6px;
  transition: transform 0.3s linear;
}

.bottoni-menu-tendina button:hover {
  color: var(--color-green);
}


.bottoni-menu-tendina button:hover span.freccia-nera {
  border-top-color: var(--color-green);
  transform: scaleY(-1);
}

.acquista-subito:hover .freccia-sfondo,
.bottoni-menu-tendina button:hover span.freccia-sfondo {
  transform: translateY(2px) scaleY(-1);
}

.acquista-subito:hover .freccia-nera {
  transform: scaleY(-1);
}

.acquista-subito {
  position: absolute;
  right: 30px;
  height: 80%;
  padding-left: 30px;
  padding-right: 40px;
  border-radius: 20px;
  background-color: var(--color-green);
  border: none;
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  font-family: var(--font-ea-bold);
}

.freccia-bottone-verde {
  position: relative;
  display: flex;
}

.freccia-bottone-verde .freccia-nera,
.freccia-bottone-verde .freccia-sfondo {
  position: absolute;
  top: -2px;
}

.freccia-bottone-verde .freccia-nera {
  border-top-color: black;
}

.freccia-bottone-verde .freccia-sfondo {
  border-top-color: var(--color-green);
}

/* FINE NAVBAR */

/* INIZIO BANNER */

header {
  display: flex;
  position: relative;
  width: 100vw;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

header img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.contenitore-testo-banner {
  width: var(--content-general-width);
  position: absolute;
  color: white;
  top: 230px;
}

.contenitore-testo-banner h1 {
  font-size: 55px;
  font-family: var(--font-ea-bold);
}

.contenitore-testo-banner h3 {
  font-size: 25px;
  font-family: var(--font-ea);
}

/* FINE BANNER */

.contenitore-sezione-notizie {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.filtra-griglia {
  background-color: transparent;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 25px;
  position: relative;
  font-size: 1rem;
  font-family: ver(--font-ea);
  gap: 35px;
}

.filtra-griglia:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid white;
}

.filtra-griglia:hover:before {
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 17px;
  width: var(--content-general-width);
  color: var(--color-black);
  margin-bottom: 60px;
}

.news-card {
  background-color: rgb(38, 38, 41);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.4;
  text-align: left;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s linear, box-shadow 0.3s linear,
    z-index 0.3s ease-in;
}

.news-info {
  font-size: 1.1rem;
  font-weight: 500;
}

.green {
  color: var(--color-green);
}

.black {
  color: var(--color-black);
}

.news-card img {
  width: 100%;
  height: auto;
}

.news-card a {
  text-decoration: none;
  color: white;
}

.news-card a > div {
  padding: 24px;
  box-sizing: border-box;
  width: 100%;
}

.autore-e-data {
  display: flex;
  gap: 15px;
}

.news-card h3 {
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: 23px;
  font-family: var(--font-ea-bold);
}

.articolo-della-news {
  font-size: var(--regular-font-size);
}

.news-card:hover {
  transform: translateY(-10px);
  box-shadow: 2px 40px 30px -2px rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.news-card:not(:hover) {
  z-index: 1;
}

.nascosto {
  display: none;
}

.cambio-notizie {
  display: flex;
  border: 1px solid var(--font-color);
}

.indietro-avanti {
  background-color: transparent;
  color: var(--font-color-lighter);
  border-left: 1px solid var(--font-color);
  border-right: 1px solid var(--font-color);
  border-top: none;
  border-bottom: none;
  padding: 20px 25px;
  font-size: 1rem;
}

.pagine-per-scroll {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 25px;
}

.bottone-per-scroll {
  font-size: 1rem;
  color: var(--font-color-lighter);
  background-color: transparent;
  border-color: transparent;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.bottone-per-scroll:hover {
  border-color: var(--font-color-lighter);
}

.bottone-per-scroll-focus {
  color: var(--font-color);
  border: 1px solid var(--font-color);
}

/* FINE sezione Notizie */

/* INIZIO prefooter */
.prefooter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: var(--content-general-width);
  margin-top: 120px;
  gap: 30px;
  color: var(--ea-light-color);
  font-family: var(--font-ea);
  font-size: 1.05rem;
}

.prefooter h2 {
  font-size: 46px;
  font-family: var(--font-ea-bold);
}

.prefooter a {
  color: var(--color-green);
}

.prefooter-prima-colonna {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.prefooter-seconda-colonna {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.contenitore-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "e-mail e-mail"
  "data luogo";
  gap: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.bottone-prefooter {
  border: none;
  position: relative;
  background-color: transparent;
  color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  height: 60px;
  gap: 5px;
}

.input-prefooter {
  border: none;
  background-color: transparent;
  color: white;
  width: 100%;
  font-size: 1.05rem;
}

.e-mail {
  grid-area: e-mail;
}

.data {
  grid-area: data;
  border: none;
}

.select {
  grid-area: luogo;
}

.input-p {
  font-size: 1.10rem;
  color: rgb(82, 82, 82);
}

.già-in-focus {
  font-size: 0.80rem;
  color: grey;
  margin-left: 4px;
}

.bottone-prefooter:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid var(--ea-light-color);
  border-radius: 30px;
  transition: 0.05s linear;
}

.iscriviti:hover::before,
.bottone-prefooter:hover:before {
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  border-radius: 34px;
}

.input-data-luogo {
  display: flex;
  justify-content: space-between;
}

.nascosto {
  display: none;
}

.condizioni {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.condizioni input {
  margin-top: 5px;
}

.iscriviti {
  width: 130px;
  height: 50px;
  color: black;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  font-size: 1.15rem;
  position: relative;
}

.iscriviti::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-green);
  border-radius: 30px;
  z-index: -1;
  transition: 0.05s linear;
}

.contenitore-prefooter-link {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: rgb(37, 37, 37);
  margin-top: 120px;
  padding: 60px 0;
  font-size: 1.10rem;
}


.prefooter-link {
  display: flex;
  flex-direction: column;
  width: var(--content-general-width);
  font-family: var(--font-ea);
  gap: 30px;
}

.prefooter-link,
.prefooter-link a {
  color: rgb(144, 144, 144);
  text-decoration: none;
}

.collegamenti-ea-sports {
  display: flex;
  justify-content: space-between;
}

.collegamenti-prima-colonna {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.collegamenti-prima-colonna h6 {
  color: var(--ea-light-color);
  font-size: 1.10rem;
}

.link-ea-sports {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  font-size: 1.10rem;
}

.link-ea-sports a:hover {
  color: var(--color-green);
}

.collegamenti-seconda-colonna {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.collegamenti-seconda-colonna p {
  color: var(--ea-light-color);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link-social {
  display: flex;
  gap: 30px;
  align-items: center;
}

.link-social a {
  height: 30px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-social a img {
  height: 25px;
  transition: height 0.1s linear;
}

.link-social a:hover img{
  height: 30px;
}

.linea-bianca {
  width: 100%;
  height: 1px;
  background-color: rgb(144, 144, 144);
  margin-top: 25px;
}

.contenitore-link-per-immagini {
  display: flex;
  justify-content: space-between;
}

.fc-logo-cerchio,
.pegi {
  height: 85px;
}

.contenitore-pegi {
  display: flex;
  gap: 10px;
}

.acquisti-in-game {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  font-size: 0.7rem;
}

.img-carta-di-credito {
  height: 57px;
}

.linea-corta {
  height: 2px;
  background-color: var(--ea-light-color);
  width: 100%;
}

.clausole {
  width: 65%;
  font-size: 1rem;
  margin-top: 30px;
}

/* FINE Prefooter */

/* Inizio Sezione Footer */

footer {
  width: 100%;
  background-color: var(--bg-footer);
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.contenuto-del-footer{
  font-family: var(--font-ea);
  display: flex;
  gap: 30px;
  width: var(--content-general-width);
  position: relative;
  margin-top: 20px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.first {
  display: flex;
  justify-content: space-between;
}

.links-footer-alti {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
}

.links-footer-bassi {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.boxb{
  display: flex;
  gap: 40px;
  z-index: 3;
}

.black-text{
  color: var(--color-black);
}


.arrow {
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 8px solid var(--color-black);
  border-radius: 10px;
  right: 20px;
  bottom: 14px;
}

.arrow-sfondo {
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid var(--bg-footer);
  right: 20px;
  bottom: 17px;
}

.bottone-con-bandiera {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
}

.flag{
  height: 11px;
  width: 16px;
  
}

.lingua{
  width: 185px;
  height: 65px;
  border: none;
  font-size: 15px;
  background-color: var(--bg-footer);
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

.dettagli-bottone-lingua {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  z-index: 3;
  
}

.sfondo-bottone {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--bg-footer);
  z-index: 2;
  transition: top, right, bottom, left 0.08s linear;
}

.lingua:hover .sfondo-bottone{
  top: -2px;
  right: -4px;
  bottom: -2px;
  left: -4px;
}

.lingua:focus .sfondo-bottone {
  top: -2px;
  right: -4px;
  bottom: -2px;
  left: -4px;
}

.dettagli-bottone-lingua::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 3px;
  transition: top, right, bottom, left 0.08s linear;
  z-index: 4;
}

.dettagli-bottone-lingua:hover::before {
  top: -2px;
  right: -4px;
  bottom: -2px;
  left: -4px;
}

.ea{
  width: 64px;
  height: auto;
}

.tf{
  color: var(--color-black);
  text-decoration: none;
}

.second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.links-footer-alti a {
  font-size: 1.125rem;
  margin: 16px 52px 16px 0;
}

.links-footer-bassi div {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 60%;
}

.links-footer-bassi a {
  font-size: 1rem;
  margin-right: 15px;
}

.lingua:focus .arrow {
  transform: scaleY(-1);
}

.lingua:focus .arrow-sfondo {
    transform: translateY(7px) scaleY(-1);
}

.lingua:focus .dettagli-bottone-lingua:before {
  top: -2px;
  right: -4px;
  bottom: -2px;
  left: -4px;
  border-top: none;
  box-shadow: 10px 10px 15px rgba(159, 159, 159, 0.3), -10px 10px 15px rgba(159, 159, 159, 0.3);
}

/* FINE Sezione Footer */

/* INIZIO Bottoni Footer a scomparsa */

.grid-footer-container {
  border: 2px solid rgb(204, 204, 204);
  display: none;
  position: absolute;
  flex-direction: column;
  top: 0;
  right: -25px;
  transform: translateY(-100%);
  background-color: var(--bg-footer);
  z-index: 1;
  position: absolute;
}

.grid-footer-container:before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 21px;
  width: 189px;
  height: 2px;
  background-color: var(--bg-footer);
}

.grid-footer {
  background-color: var(--bg-footer);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  grid-auto-flow: column;
  padding: 15px;
  z-index: 1;
  position: relative;
  box-shadow: 10px 10px 15px rgba(159, 159, 159, 0.3), -10px 10px 15px rgba(159, 159, 159, 0.3);
}

.grid-footer a {
  box-sizing:border-box;
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-align: start;
  text-wrap: nowrap;
  padding: 19px 45px 19px 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.grid-footer a:hover {
  padding: 19px 35px 19px 30px;
}

.grid-footer a:not(:nth-child(9n)):not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 7px;
  height: 2px;
  width: 82%;
  background-color: rgb(234, 234, 234);
}

.tic {
  background-image: url(../immagini/tick.png);
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 30px;
  position: absolute;
  right: 23px;
  top: 25%;
}

.mostra {
  display: flex;
}

.freccia-scrollbar-griglia {
  color: white;
  display: none;
}

/* FINE Bottoni Footer a scomparsa */
